<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cf.wellod.mapper.InBoundMapper">
    <insert id="addInBoundRecord">
        insert into InBound values (#{gid}, #{wid}, #{eid}, #{opTime}, #{quantity})
    </insert>

    <select id="getInBoundsByRange" resultType="cf.wellod.bean.InBound">
        select top ${num} * from InBound where id not in (select top ${start-1} id from InBound)
    </select>

    <select id="getInBoundsCount" resultType="_integer">
        select count(*) from InBound
    </select>
</mapper>