<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cf.wellod.mapper.RoleMapper">
    <insert id="insertRole">
        insert into role(name,info) values(#{name},#{info})
    </insert>

    <select id="selectRole" resultType="cf.wellod.bean.Role">
        select * from Role where id=#{id};
    </select>

    <update id="updateROle">
        update Role set name=#{name},info=#{info} where id=#{id}
    </update>

    <delete id="deleteRoleById">
        delete from Role where id=#{id}
    </delete>

    <select id="getRolesCount" resultType="_integer">
        select count(*) from Role
    </select>

    <select id="getEmpsByRange" resultType="cf.wellod.bean.Role">
        select top ${num} * from Role where id not in (select top ${start-1} id from Role)
    </select>

    <select id="getRoles" resultType="cf.wellod.bean.Role">
        select * from Role
    </select>

    <update id="updateRole">
        update Role set name=#{name},info=#{info} where id=#{id}
    </update>

    <delete id="deleteRoles">
        delete from Role where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>